/*Styling accross all pages*/

nav {
    border: 2px solid darkblue;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black
}

nav ul li {
    list-style: none;
}


/* Styling ends accross all pages */

p {
    font-family: "Franklin Gothic Medium", 'Arial Narrow', sans-serif;
    font-size: 18px;
    font-weight: 100;
    /* word spacing: 2px; */
    line-height: 1.5;
    text-align: justify;
}


/* Styling for the homepage */

.img1 {
    border: 10px double darkred;
    /*the 3 values represent: border-width, border-style, border-color, margin:10px 50px; /*the values represent: top/bottom, left/right*/
    margin: 10px 50px;
}

.img2 {
    border: 12px dotted darkorange;
    margin: 10px 25px 20px;
    /*the values represent: top, left/right bottom*/
}

button {
    color: rgb(17, 2, 31);
    background-color: coral;
    opacity: 0.8;
    width: 150px;
    height: 25px;
    border: 2px solid rgb(15, 1, 19);
    border-radius: 5px;
    cursor: pointer;
}


/* Styling ends for the homepage */


/* login styling page */

.Products {
    display: flex;
    justify-content: space-around;
    margin: 100px 50px;
}

.Products div {
    width: 400px;
    height: auto;
}