/*img {
    width: 150px;
    height: 150px;
    border: 4px solid burlywood;
    margin: 50px;
}*/

nav {
    border: 2px solid darkblue;
}

nav ul li {
    list-style: none;
}

p {
    font-family: "Franklin Gothic Medium", 'Arial Narrow', sans-serif;
    font-size: 18px;
    font-weight: 100;
    /* word spacing: 2px; */
    line-height: 1.5;
    text-align: justify;
    /*overflow-y: hidden;*/
}

.img1 {
    border: 10px double darkred;
    /*the 3 values represent: border-width, border-style, border-color, margin:10px 50px; /*the values represent: top/bottom, left/right*/
    margin: 10px 50px;
}

.img2 {
    border: 12px dotted darkorange;
    margin: 10px 25px 20px;
    /*the values represent: top, left/right bottom*/
}

button {
    color: rgb(17, 2, 31);
    background-color: coral;
    opacity: 0.8;
    width: 150px;
    height: 25px;
    border: 2px solid rgb(15, 1, 19);
    border-radius: 5px;
}

body {
    /*overflow-y: hidden;*/
}